<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ 'Edit' if item else 'New' }} item</title>
</head>
<body>
  <h1>{{ 'Edit' if item else 'New' }} item</h1>
  <form method="post">
    <label>Name<br><input type="text" name="name" value="{{ item[1] if item else '' }}" required></label><br><br>
    <label>Description<br><textarea name="description">{{ item[2] if item else '' }}</textarea></label><br><br>
    <button type="submit">Save</button>
  </form>
  <p><a href="{{ url_for('list_items') }}">Back</a></p>
</body>
</html>
